html
  head
    title Annotation Interface
    style.
      .chapter__loading, .save__loading, .save__button {
        display: none;
      }

  body
    section.controls
      div.controls__loading Loading chapters...
      div.controls__previous
      div#chapterControl
      div.controls__next

    section.chapter
      div.chapter__loading Loading chapter...
      div.chapter__text#chapterText

    section.save
      div.save__loading Loading chapter...
      input.save__button(type="button", value="Save")

    script(src="client.js")