html
  head
    title Annotation Interface

  body
    section.controls
      div.controls__previous
      div.controls__current
      div.controls__next

    section.chapter
      div.chapter__text

    section.save
      input(type="button", value="Save")