$personColor: blue
$locationColor: red
$organizationColor: green
$uncategorizedColor: gray

html, body
  padding: 0
  margin: 0
  font:
    family: sans-serif
    size: 2vw
  line-height: 1.6

.controls
  border-bottom: 2px solid black
  min-height: 30px

  &__container
    max-width: 500px
    margin: 0 auto
    text-align: center

  &__loading
    &--loaded
      display: none

.chapter
  padding: 2vw 4vw

.annotation
  position: relative

  &__tag
    &--person
      background-color: $personColor

    &--location
      background-color: $locationColor

    &--organization
      background-color: $organizationColor

    &--uncategorized
      background-color: $uncategorizedColor

  &__remove
    opacity: 0
    z-index: -1
    position: absolute
    top: -1.69vw

  &:hover .annotation__remove
    opacity: 1
    z-index: 10

.annotateControls
  padding: 1vw
  padding-left: 0

  &--active
    opacity: 1
    z-index: 5

